.nav{
    width: auto;
    height: 50px;
    padding: 5px;
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.699);
    border-radius: 4px;
}
body{
    animation: rainbow 13s infinite;
    font-family: "Oxygen", sans-serif;

}

.clr{
    height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
    border: 3px solid white;
    transition: transform .5s;
    margin: 3px;
    font-family: "Oxygen", sans-serif;

}

.clr:hover{
    transform: scale(1.2);
}


.clr:nth-child(1){
    background-color: black;
}

.clr:nth-child(2){
    background-color: red;
}

.clr:nth-child(3){
    background-color: orange;
}

.clr:nth-child(4){
    background-color: yellow;
}

.clr:nth-child(5){
    background-color: green;
}

.clr:nth-child(6){
    background-color: yellowgreen;
}

.clr:nth-child(7){
    background-color: blue;
}

.clr:nth-child(8){
    background-color: purple ;
}

.clr:nth-child(9){
    background-color: white;
}

button{
    background-color: rgb(76, 214, 76);
    color: white;
    padding: 2px;
    border: 3px solid white;
    font-size: 15px;
    font-weight: bold;

}
@keyframes rainbow {
    0% {
        background-color: red;
    }
    16.666% {
        background-color: orange;
    }
    33.333% {
        background-color: yellow;
    }
    50% {
        background-color: green;
    }
    66.666% {
        background-color: blue;
    }
    83.333% {
        background-color: indigo;
    }
    100% {
        background-color: violet;
    }
}