body{
    height: 100%;
    position: absolute;
    align-items: center;
    background-color: lightslategray;
}

h1, h3 {
    font-family: "Oxygen", sans-serif;

}

.container{
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    text-align: center;
}

#drawing-board{
    background-color: white;
    width: 730px;
    height: 730px ;
    margin-left: 50px;
    border-color: black;
}